# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
# Ignore the build directory of React apps
build/
# Ignore the coverage directory for test coverage reports
coverage/

# Environment variable files
.env

# Production files
.DS_Store
dist/

# Ignore specific IDE or editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore compiled files
*.out
*.exe
*.o

# Ignore npm lock file and yarn lock file
package-lock.json
yarn.lock

# Ignore operating system specific files
Thumbs.db
.DS_Store

# Ignore database files
*.sqlite
*.db

# Ignore test and debug files
*.test.js
*.spec.js
debug/

# Ignore temporary files
*.swp
*.bak
*.tmp
*.temp

# Ignore build files
public/


